
body{
    background-color: #181818;
}
a{
    color: #93c3f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
i{
    color: white;
}
.darkmode{
    display:flex;
}
 #box{
    background-color:#292929;
    color:white;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:4.8px;
}
.login{
    color: white;
    font-size: 16px;
}
.page{
    width: 100%;
    max-width: 960px;
}
.title{
    width:100%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#images{
    height: 30px;
    width: 96px;
}
main{
   justify-items: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    color: white;
    
}
.subh{
    text-align: left;
    font-family: verdana, sans-serif;
    font-size: 16px;
}
.boxes{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#box1{
    background-color:#417748;
    text-align: left;
     margin: 4.8px;
     padding: 9.6px;
}
#box2{
    background-color: #416c77;   
      margin: 4.8px;
    text-align: left;
    padding: 9.6px;
     
}
#box3{
    background-color: #767741;
    text-align: left;
     margin: 4.8px;
     padding: 9.6px;
}
#box4{
    background-color: #77414f;   
    text-align: left;
   margin: 4.8px;
   padding: 9.6px;
}
.navigator{
    text-decoration: none;
    font-size: 14.08px;
    color: #5cafff;
    padding: 3px 9.6px;
}
.navigator:hover{
    background-color: #3e3e3e;
}
.navbar{
    text-align: left;
}
#heading{
    font-size: 28.8px;
}
p{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
}

@media(min-width:960px){
    
    .menu{
        display:none;
    }
    #box1{
        min-height: 290.4px;
    }
    #box2{
        min-height: 290.4px;
    }
    #box4{
        min-height: 290.4px;
    }
    #box4{
        min-height: 290.4px;
    }    
}
@media((max-width:960px) and (min-width:560px)){
    .loginwindow{
        display: none;
    }
      #box1{
        min-height: 290.4px;
    }
    #box2{
        min-height: 290.4px;
    }
    #box4{
        min-height: 290.4px;
    }
    #box4{
        min-height: 290.4px;
    }    
}
@media(max-width:560px){
    .loginwindow{
        display: none;
    }
    .boxes{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
    #box1{
        min-height: 216px;
    }
    #box2{
        min-height: 216px;
    }
    #box4{
        min-height: 216px;
    }
    #box4{
        min-height: 216px;
    }   
}